<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <title>TheDolphinsTeam</title>

        <link rel="stylesheet" href="/res/CSS/main.css">
        <script src="/res/JS/main.js"></script>
    </head>
    
    <body>
        
        
        
        <div class="container" style="background-color: #1a1a1a">
            <div class="navbar">
                
                <div class="left">
                    <div class="nav-links">
                        <div class="link-wrapper">
                            <a href="#">Начало </a>
                            <a href="/chat">Чатове </a>
                        </div>

                    </div>
                    
                </div>
                
                <div class="right">
                    
                    <div class="title">TheDolphinsTeam</div>
                    
                        <!--<div class="login"><a class="Login" href="login.html">Влизане</a></div> -->
                    
                    
                </div>
                
            </div>
            
            <div class="content">
                
                <%#
                <div class="portfolio">
                    
                    <div class="pitem" onclick = "onclick_event0()">
                            <div class="pitem0-background"><img src="http://localhost:3000/res/Images/background.png" class="pitem-background"></div>
                        
                            <div class="text0"><div class="text">
                                <div class="logo">
                                
                                </div>
                            
                                <div class="subtitle">
                                    Създаваме <br> красиви <br> неща
                                </div>
                                </div>
                            </div>
                    </div>
                    
                    <div class="pitem" onclick = "onclick_event1()">
                            <div class="pitem0-background"><img src="http://localhost:3000/res/Images/background.png" class="pitem-background"></div>
                        
                            <div class="text1"><div class="text">
                            
                                <div class="subtitle">
                                    Учим и искаме<br> да знаем още
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="pitem" onclick = "onclick_event2()">
                        <div class="pitem0-background"><img src="http://localhost:3000/res/Images/background.png" class="pitem-background"></div>
                        
                            <div class="text2"><div class="text">
                            
                                <div class="subtitle">
                                    Спортуваме<br>
                                    <div class="b0">и</div> 
                                    <div class="b01">играем</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
                %>

                <div class="moday">
                    Нещо на деня:
                    <br>
                    <br>
                    <div class=mod>
                        <p style="font-weight:700">
                            
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="footer">

                <div class="cat0">
                    Информация
                    <br>

                    <div class="catContentList">
                        <a href="">Екип на сайта</a>
                        <br>
                        <a href="">Архив на файлове</a>
                    </div>
                </div>

                <div class="cat1">
                    Въгове и нови неща
                    <br>
                    <div class="catContentList">
                        <a href="">Нови неща</a>
                        <br>
                        <a href="">Направете предложение</a>
                        <br>
                        <a href="">Съобщете бъг или проблем</a>
                    </div>
                </div>

            </div>
            
        </div>
        
    </body>

</html>
